
.card{
    height: auto;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* padding: 15px; */
    /* position: relative; */
    /* border: 3px solid grey;
    background-color: black; */
    border-radius: 15px;
    color:whitesmoke;
    transition: transform 500ms;

}
.poster{
    width: 120px;
    /* margin: auto; */
    object-fit: contain;
    

}
.poster-hover{
    opacity: 0.5;
    transform: scale(1.2);
  z-index: 1;
}

.hidden{
    display: none;
}
.info{
    position:absolute;
}
.container{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    
}
.poster:hover {
    transform: scale(1.2);
  z-index: 1;
   
}
.linkimdb{
    color: black;
text-decoration: none;
}
.lingimdb :hover{
    color: black;
    cursor: pointer;
}
.linkimdb :active{
    color: black;
}
.linkimdb :visited{
    color: black;
}
.btn-imdb{
    background-color: yellow;

}
.upside{
    display: none;
}
.info{
    margin-left: 0px;
    width: 120px;
  }